<div id='footer'>

    <div class='content row' style="margin-bottom: 0;">

        <div class='logo col-12 col-md-3' @click='goTo( "/" )'>
            <img src='images/logo_footer.png' />
        </div>

        <div class='faqButton col-12 col-md-3' @click='goTo( "/faqs" )'>
            <a class="buttons_footer" @click='goTo( "faqs" )'>Preguntas frecuentes</a>
        </div>

        <div class='blogButton col-12 col-md-3'>
            <a class="buttons_footer" href="https://eliiot.com/blog">Eliiot blog</a>
        </div>


    </div>

    <div class="content row">
        <div class='col-12 col-md-3'></div>

        <div class="col-12 col-md-9">
            <div class='menu col-12 col-md-12'>

                <div class='row menu-content'>
                
                    <div class='menu-items col-sm-12 col-md-3'>

                        <div class='menu-items-title'>
                            Legales
                        </div>

                        <div class='menu-items-item' @click='goTo( "aviso-privacidad" )'>
                            Aviso de privacidad
                        </div>
                        <div class='menu-items-item' @click='goTo( "terminos-condiciones" )'>
                            Términos y Condiciones
                        </div>                
                    </div> 

                    <div class='menu-items col-sm-12 col-md-3'>

                        <div class='menu-items-title'>
                            Empresa
                        </div>

                        <a class='menu-items-item' href='mailto:hola@eliiot.com'>
                            Contáctame
                        </a>

                    </div>

                    <div class='menu-items col-sm-12 col-md-3' style="text-align:center;">

                        <div class='menu-items-title'>
                            Redes Sociales
                        </div>

                        <div class="menu-items-item" style="padding-left: 10px;">
                            <div class="">
                                <a style="display: inline;" href="https://www.facebook.com/Eliiot/" target="_blank">
                                    <img src="images/facebook.svg" style="padding: 0 10px;">
                                </a>
                                <a style="display: inline;" href="https://www.linkedin.com/company/eliiotapp/" target="_blank">
                                    <img src="images/linkedin.svg" style="padding: 0 10px;">
                                </a>
                            </div>
                            <div class="" style="margin-top: 14px;">
                                <a style="display: inline;" href="https://www.instagram.com/eliiotapp/" target="_blank">
                                    <img src="images/instagram.svg" style="padding: 0 10px;">    
                                </a>
                                <a style="display: inline;" href="https://twitter.com/eliiotapp" target="_blank">
                                    <img src="images/twitter.svg" style="padding: 0 10px;">
                                </a>
                            </div>
  
                        </div>

                    </div>

                    <div class='menu-items col-sm-12 col-md-3'>

                        <div class='play_store'>
                            <a class='google_play_button' href='https://play.google.com/store/apps/details?id=com.eliiot.app'>
                                <img class="store_button_footer" src='images/google_play_icon.png' />
                            </a>
                            <a class='app_store_button' href='https://apps.apple.com/mx/app/eliiot/id1553806786'>
                                <img class="store_button_footer" src='images/app_store_icon.png' />
                            </a>
                        </div>

                    </div>


                </div>    
            </div>
        </div>
    </div>
    
    <hr class='divider' />

    <div class='copyright'>
        &copy; ELIIOT. Todos los derechos reservados. 2021
    </div>
</div>

<!-- <div id='footer'>

    <div class='content row'>

        <div class='logo col-12 col-md-6' @click='goTo( "/" )'>
            <img src='images/logo_footer.png' />
        </div>

        <div class='menu col-12 col-md-6'>

            <div class='row menu-content'>
            
                <div class='menu-items col-4'>

                    <div class='menu-items-title'>
                        Mi app
                    </div>

                    <div class='play_store'>
                        <a class='google_play_button' href='http://onelink.to/9b8jt2'>
                            <img class="store_button_footer" src='images/google_play_icon.png' />
                        </a>
                        <a class='app_store_button' href='http://onelink.to/9b8jt2'>
                            <img class="store_button_footer" src='images/app_store_icon.png' />
                        </a>
                    </div>

                </div>

                <div class='menu-items col-8 col-md-4'>

                    <div class='menu-items-title'>
                        Legales
                    </div>

                    <div class='menu-items-item' @click='goTo( "aviso-privacidad" )'>
                        Aviso de privacidad
                    </div>
                    <div class='menu-items-item' @click='goTo( "terminos-condiciones" )'>
                        Términos y Condiciones
                    </div>                
                    <div class='menu-items-item' @click='goTo( "faqs" )'>
                        Preguntas frecuentes
                    </div>   
                </div>            

                <div class='menu-items col-12 col-md-4'>

                    <div class='menu-items-title'>
                        Empresa
                    </div>

                    <a class='menu-items-item' href='mailto:contacto@eliiot.com'>
                        Contáctame
                    </a>

                </div>

            </div>
            
        </div>
    </div>
    
    <hr class='divider' />

    <div class='copyright'>
        &copy; ELIIOT. Todos los derechos reservados. 2021
    </div>
</div> -->